*{
    box-sizing: border-box;
}
 .statusName{
    font-size: 25px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
.statusNameFirst{
    color: rgb(105, 103, 103);
   
    
}
.statusInput{
    width: 508px;
    height: 40px;
    margin-left: 194px;
    margin-top: 10px;
    padding: 9px ;
    
}
.statusLink{
    margin-left: 150px;
    margin-bottom: 10px;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px dashed #000080;
    color: rgb(69, 150, 241);
    font-weight: lighter;

}  
.status{
    margin-top: 80px;
    margin-left: 60px;
}